.container-giohang{
    max-width: 1200px;
    margin: auto;
}
.giohang{
    display: block;

}
.table-giohang{
   
    display: block;
    align-content: center;
    text-align: center;
    justify-content: space-between;
        border: 1px solid #333;
}
.table-giohang.tbody{
     width: 100%;
}
th{
    margin-left: 10px;
}
td{
    align-content: center;
    text-align: center;
    justify-content: space-between;
}
.adress_customer{
    display: block;
    margin-top: 30px;
}