*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;

}
.container_12{
	float: left;
	width: 100%;
	background: #5882FA;
	margin:0px auto;


}
.khung{
	margin: 0px auto;
	width: 1450px;

}
.khung1{
	height: 80px;
	margin: 0px auto;
	width: 1430px;
	background: #FAFAFA;
	margin-bottom: 20px;
	border-radius: 5px;

}
.timkiem{
	display: block;
	width: auto;
	height: 60px;
	float: left;
	z-index: 1;	
	border-radius: 10px;
}
.boxtk{
	width: 170px;
	float: right;
	margin: 12px auto;

}

#tk{
	  width: 150px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 4px;
      outline:none;
}

#logotrai{
	z-index: 2;
	height: 70px;
	width: auto;
	float: left;
	margin-top: 5px;
	margin-left: 5px;

}

.btn{
	font-weight: 390;
}

.phai {
	margin-bottom: 20px;
	float: right;
	width: 200px;
	height: 50px;

}

.usertrai{
	margin-right: 15px;
	margin-top: 20px;
	width: 40px;
	height: 45px;
	float: left;
	border-right: 1px solid grey;
}
.userphai{
	margin-top: 10px;
	width: 125px;


}
.userphai ul{
	display: block;
	width: 150px;
}
.userphai ul li{
	text-align: center;

}
.phai li{
	list-style: none;
	text-decoration: none;
}
.khung2{
	margin: 0 auto;
	display: block;
	width: 1425px;
	position: relative;
	clear: left;
	background: #5882FA;
	border-bottom: 1px solid #D8D8D8;
}
.khung2 li{
	display: inline-block;

}
.khung2 ul li{
	width: 200px;
	height: 30px;
	text-align: center;
}
.khung2 ul li a{
	margin-bottom: 15px;
	text-decoration: none;
	color: white;
}
.khung2 ul li img{
	width: 23px;
	height: 20px;
}
.content{
	float: left;
	width: auto;
	height: auto;
	background: #5882FA;
}
.menutrai{
	z-index: 2;
	width: 250px;
	height: 240px;
	display: block;
	background: white;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid grey;
	border-radius: 5px;
	float: left;

}
.menutrai li {
 width: auto;
 height: 40px;
 line-height: 40px;
 border-bottom: 1px solid #e8e8e8;
 padding: 0 1em;
}
.menutrai li a {
 text-decoration: none;
 color: #333;
 font-weight: bold;
 display: block;
}
.menutrai li:hover {
  background: #2E64FE;
}
.menutrai ul{
	text-align: center;
	text-decoration: none;
	width: 20%;
 	padding: 0;
 	list-style-type: none;
 	text-align: left;
}
.menutrai ul li{
	position: relative;
	list-style: none;
	text-decoration: none;
	text-align: center;
	width: 250px;
	height: 60px;
	border-bottom: 1px solid blue;
}
.menutrai ul li a{
	padding:  10px 5px 20px;
	color: #000;
	display: block;
	text-decoration: none;
	padding-top: 10px;
}


.nd{
	font-size: 14px;
	margin-top: 22px;
	margin-left: 50px;
	background: white;
	display: block;
	z-index: 2;
	float: left;
	width: 75%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 20px;

}
.them li{
	text-align: center;
	list-style: none;
}
.them li a{
	
	text-decoration: none;
}
.quanly li {
	text-align: center;
	list-style: none;

}
.quanly li a{
	text-decoration: none;
}

p{ 	
	margin-top:15px;
	text-align: center;
	font-size: 32px;
}
.bang{
	margin-top: 10px;
	margin-left: 100px;
}
tbody{
	text-align: center;
}
.doimk {
	margin-left: 100px;
	margin-top: 50px;
	display: block;
	width: 300px;
	height: 150px;
	background: #58D3F7;
}
.glyphicon  {
	padding-top: 10px;
	font-size: 24px;

}
.collapsed{
	width: 100px;
}

.nav li a{


}
th{
	text-align: center;
	width: auto;
}
.nd1{
	width: 300px;
	height: auto;
}